{% macro smallList(candidates) -%}
{% for index in range(candidates.length) -%}
{% if index > 0 %}, {% endif %}<a href="/candidates/{{ candidates[index].id }}/edit" title="Edit {{ candidates[index].name }}">{{ candidates[index].name }}</a>
{%- endfor %}
{%- endmacro %}

{% macro list(candidates, pollID) -%}
<div class="clearfix">
    <h4 class="card-title float-left">Candidates</h4>
    <a href="/polls/{{ pollID }}/candidates/new" class="btn btn-dark float-right">
      <i class="fas fa-plus-circle"></i>
      New Candidate
    </a>
</div>
<table class="candidate-list-table table table-bordered">
  {% for candidate in candidates -%}
  <tr class="resource-container">
    <td class="candidate-image-container">
      <img class="uploaded-image" src="{{ candidate.image }}" alt="">
    </td>
    <td class="candidate-details-container">
      <div class="clearfix">
        <h4 class="float-left"><a href="/candidates/{{ candidate.id }}/edit">{{ candidate.name }}</a></h4>
        <button class="btn btn-danger btn-del-candidate float-right" data-action="/candidates/{{ candidate.id }}" data-redirect="none" data-name="{{ candidate.name }}">
          <i class="far fa-trash-alt"></i>
          Delete
        </button>
      </div>
      <hr>
      {% if candidate.fallback !== "_none_" %}
        <p>Fallback: <a href="/polls/{{ candidate.fallback }}/edit">{{ candidate.fallbackName }}</a></p>
      {% endif %}
    </td>
  </tr>
  {%- endfor %}
</table>
{% endmacro -%}

{% macro scripts() -%}
<script src="/assets/scripts/candidateList.bundle.js"></script>
{%- endmacro %}

{% macro styles() -%}
<link rel="stylesheet" href="/assets/styles/candidate-list.css">
{%- endmacro %}
