{% import "./poll-list.html" as pollList %}
  
{% macro list(elections) %}
<div class="election-list-container col-lg-10 mx-auto">
  {% for election in elections %}
  <div class="election-container card">
    <div class="card-header">
      <h3 class="election-name">{{ election.name }}</h3>
      {% if election.caption %}
        <hr>
        <h5 class="election-caption text-muted">{{ election.caption }}</h5>
      {%- endif %}
    </div>
    <div class="card-body">
      <h4>Polls</h4>
      {{ pollList.table(election.polls) }}
      <hr>
      <h4>Colors</h4>
      <div class="election-color-display" style="background-color: {{ election.color }}">
        Sample Text
      </div>
      <hr>
      <h4>Image</h4>
      <img class="uploaded-image" src="{{ election.image }}" alt="Election Image">
      <hr>
      <div class="btn-group">
        <a href="/election/{{ election.id }}/export" class="btn btn-light">Export</a>
        <a href="/elections/{{ election.id }}/edit" class="btn btn-light">Edit</a>
        <button class="btn btn-danger btn-del-election" data-election-id="{{ election.id }}">Delete</button>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{%- endmacro %}

{% macro listStyle() %}
<link rel="stylesheet" href="/assets/styles/election-list.css">
{%- endmacro %}

{% macro listScript() %}
<script src="/assets/scripts/electionList.bundle.js"></script>
{%- endmacro %}
