{% macro list(merges) %}
<div class="col-lg-10 mx-auto">
  <a href="/merges/new" class="btn btn-dark btn-lg">
    <i class="fas fa-plus-circle"></i>
    Create New Merge
  </a>
</div>
<div class="merge-list-container col-lg-10 mx-auto">
  {% for merge in merges %}
  <div class="merge-container card resource-container">
    <div class="card-header bg-dark">
      <div class="clearfix">
        <h3 class="merge-name float-left">Merge on <code>{{ merge.createdAt }}</code></h3>
        <div class="btn-group float-right">
            <a href="/merges/{{ merge.id }}/results" class="btn btn-light">
              <i class="fas fa-angle-double-right"></i>
              Results
            </a>
            <a href="/merges/{{ merge.id }}/present" class="btn btn-light">
              <i class="fas fa-video"></i>
              Present
            </a>
            <button
              class="btn btn-danger btn-del-merge"
              data-action="/merges/{{ merge.id }}"
              data-redirect="none"
              data-name="Merge {{ merge.createdAt }}">
              <i class="far fa-trash-alt"></i>
              Delete
            </button>
          </div>
      </div>
    </div>
    <div class="card-body">
      <h4 class="card-title">Ties</h4>
      {% if merge.ties.length === 0 -%}
        No Ties
      {%- else -%}
        <table class="table table-bordered">
          <thead class="thead-dark">
            <th>Poll</th>
            <th>Tied Candidates</th>
          </thead>
          <tbody>
            {% for tie in merge.ties %}
            <tr>
              <td>{{ tie.pollName }}</td>
              <td>{{ tie.candidates.join(", ") }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {%- endif %}
      <hr>
      <h4 class="card-title">Votes counted</h4>
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Poll name</th>
            <th>Total votes</th>
          </tr>
        </thead>
        <tbody>
          {% for poll in merge.polls -%}
          <tr>
            <td>{{ poll.name }}</td>
            <td>{{ poll.votes }}</td>
          </tr>
          {%- endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endfor %}
</div>
{%- endmacro %}

{% macro styles() %}
<link rel="stylesheet" href="/assets/styles/merge-list.css">
{%- endmacro %}

{% macro scripts() %}
<script src="/assets/scripts/mergeList.bundle.js"></script>
{%- endmacro %}
