{% import "./candidate-list.html" as candidateList %}

{% macro table(polls) %}
  <table class="poll-list-table table table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Candidates</th>
      </tr>
    </thead>
    <tbody>
      {% for poll in polls %}
      <tr>
        <td>{{ poll.name }}</td>
        <td>{{ candidateList.smallList(poll.candidates) }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}

{% macro scripts() %}
{% endmacro %}

{% macro styles() %}
<link rel="stylesheet" href="/assets/styles/poll-list.css">
{% endmacro %}
