<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home - Edison Central</title>
    <link rel="stylesheet" href="../assets/styles/bootstrap.min.css">
</head>
<body>
    <p>This is a protected page.</p>
    <p>The date is {{ date }}.</p>

    <script src="../assets/scripts/jquery-3.3.1.min.js"></script>
    <script src="../assets/scripts/bootstrap.min.js"></script>
    <script src="../assets/scripts/index.bundle.js"></script>
</body>
</html>