<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ pageTitle }} - Edison Central</title>
  <script defer src="/assets/scripts/libraries/fontawesome-all.min.js"></script>
  <link rel="stylesheet" href="/assets/styles/libraries/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/styles/index.css">
  {% block stylesheets %}{%- endblock %}
</head>

<body>
  {% include "navbar.html" %}

  {% block mainContent %}
  {%- endblock %}

  <script src="/assets/scripts/jquery-3.3.1.min.js"></script>
  <script src="/assets/scripts/bootstrap.min.js"></script>
  {% block scripts %}{%- endblock %}
  <!-- <script src="../assets/scripts/index.bundle.js"></script> -->

</body>

</html>
