<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Log In - Edison Central </title>
  <link rel="stylesheet" href="../assets/styles/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/styles/login.css">
</head>
<body>-
    <form class="form-signin">
        <h1 class="h2 mb-2 font-weight-normal">Edison Central</h1>
        {% if err %}
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
        {% endif %}
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <!-- <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div> -->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <hr />
        <p class="mt-5 mb-3 text-muted">Don't have an account? <a href="/register">Register</a></p>
      </form>
</body>
</html>
