<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Log In - Edison Central </title>
  <script defer src="../assets/scripts/fontawesome-all.min.js"></script>
  <link rel="stylesheet" href="../assets/styles/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/styles/login.css">
</head>
<body>
    <form action="/users/login" method="POST" class="form-signin">
        <h1 class="h2 mb-2 font-weight-normal">Edison Central</h1>
        <p>Enter your Password</p>
        <div id="errorDisplay" class="alert alert-danger" role="alert">
            <h6 id="errorTitle" class="alert-heading"></h5>
            <button type="button" data-toggle="collapse" data-target="#errorDetail" id="showDetail" class="btn btn-sm btn-outline-danger">
                <i class="fas fa-exclamation-circle"></i>
            </button>
          <div class="collapse" id="errorDetail">
              <p></p>
          </div>
        </div>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
      <script src="../assets/scripts/jquery-3.3.1.min.js"></script>
      <script src="../assets/scripts/bootstrap.min.js"></script>
      <script src="../assets/scripts/passwordForm.bundle.js"></script>
</body>
</html>
