<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a href="/" class="navbar-brand">{{ appName }}</a>
  <ul class="navbar-nav mr-auto">
    {% for link, name, faIcon in [
      ["/elections", "Elections", "fab fa-dropbox"],
      ["/merges", "Merges", "fas fa-sitemap"],
      ["/users/logout", "Log Out", "fas fa-sign-out-alt"]
    ] %}
    <li class="nav-item">
      <a href="{{ link }}" class="nav-link {% if currentURL === link %}active{% endif %}">
        <i class="nav-link-icon {{ faIcon }}"></i>
        {{ name }}
      </a>
    </li>
    {% endfor %}
  </ul>
  <span id="lanIP" class="navbar-text">{{ appName }} server @ {{ lanIP }}</span>
</nav>
