<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Log In - Edison Central </title>
  <link rel="stylesheet" href="../assets/styles/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/styles/login.css">
</head>
<body>-
    <form action="/users/register" method="POST" class="form-signin">
        <h1 class="h2 mb-2 font-weight-normal">Edison Central</h1>
        <h3 class="h3 mb-3 font-weight-normal">Create a new account</h3>
        {% if err %}
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
        {% endif %}
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" name="username" id="inputUsername" class="form-control" autocomplete="off" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      </form>
</body>
</html>
