<div id="carousel-container">
  <div id="results-carousel" class="carousel slide" data-ride="false" data-interval="false">
    <ol class="carousel-indicators">

      {% for pollIndex in range(election.polls.length * 2) %}
      <li data-target="#results-carousel" data-slide-to="{{ pollIndex }}" class="{% if pollIndex === 0 %}active{% endif %}"></li>
      {% endfor %}

    </ol>
    <div class="carousel-inner" role="listbox">
      {% for pollIndex in range(election.polls.length) %}
      {% set poll = election.polls[pollIndex] %}
      <div class="carousel-item {% if pollIndex === 0 %}active{% endif %}"
        style="background-color: {{ poll.color }}">
        <div class="poll-detail-vertical-align">
          <div class="poll-text text-center">
            <h1>{{ poll.name }}</h1>
            <h3><q>{{ poll.caption }}</q></h3>
          </div>
        </div>
      </div>
      <div
        class="carousel-item"
        style="background-color: {{ poll.color }}">

        <div class="candidates-vertical-align">
          <div class="candidates-block card-deck mx-auto" id="block-{{ pollIndex }}">

            {% for cIndex in range(poll.candidates.length) -%}
            {%- set candidate = poll.candidates[cIndex] -%}
            <div
              class="card candidate-card text-center
                {% if winnerIDs[poll.id].indexOf(candidate.id) !== -1 %}winner{% else %}not-winner{% endif %}"
              data-votes="{{ candidate.votes }}">

              <img src="{{ candidate.image }}" alt="" class="card-img-top img-responsive">
              <div class="crown"><i class="fas fa-crown"></i></div>
              <div class="card-body">
                <table>
                  <tr>
                    <td>{{ candidate.name }}</td>
                    <td class="votes text-right">
                      <h5><span class="badge badge-secondary" id="votes-{{ pollIndex }}-{{ cIndex }}">0</span></h5>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            {%- endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
  <a class="carousel-control-prev thin-control" id="left-arrow" href="#results-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next thin-control" id="right-arrow" href="#results-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
