.jumbotron {
  background-color: rgb(255, 255, 50);
}

.btn-light {
  border-color: rgb(255, 255, 50);
  background-color: rgb(255, 255, 50);
}

.btn-light:hover {
  border-color: rgb(255, 255, 130);
  background-color: rgb(255, 255, 130);  
}

.card {
  margin-bottom: 1.25rem;
}

.uploaded-image {
  max-height: 12.5rem;
  margin: 0.75rem 0;
}

.card-header {
  color: white;
}

.bg-dark .text-muted {
  color: rgb(180, 180, 3)  !important;
}
