.carousel-item {
  height: 100vh;
}

.poll-detail-vertical-align, .candidates-vertical-align {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.poll-text {
  width: 100%;
  padding: 3rem 0;
  background-color: #FFF;
}

q {
  font-style: italic;
  opacity: 0.7;
}

.candidates-block {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.candidates-block.four-cards {
  width: 60%;
}

.card-deck .candidate-card {
  position: relative;
  top: 0px;
  min-width: 10.75rem;
  max-width: 11rem;
  margin: 0.7rem;
  transition: top 1s ease-out;
}

.candidate-card.candidate-active {
  top: -0.5rem;
}

.candidate-card.candidate-inactive {
  opacity: 0.5;
}

.candidate-card .card-body {
  text-align: left;
}

.votes {
  font-size: 1rem;
}

.candidate-card table {
  width: 100%;
  height: 100%;
}

.candidate-card td {
  padding: 0.5rem;
}

.candidate-card .card-body {
  padding: 0;
}

.crown {
  width: 100%;
  position: absolute;
  font-size: 3rem;
  top: -2rem;
  color: goldenrod;
  display: none;
}
