{% extends "../index.html" %}

{% block mainContent -%}
<div class="merge-edit-container col-lg-10 mx-auto">
  <div class="merge-form-container card">
    <div class="card-header">
      <h3 class="float-left">Create merge</h3>
    </div>
    <div class="card-body">
      <form class="merge-form" action="/merges" id="merge-form" data-method="POST">
        <div class="form">
          <label class="card multi-files-input bg-light text-center text-muted" for="merge-file-input">
           Click to upload files
          </label>
          <input class="form-control-file" type="file" multiple="true" name="results" id="merge-file-input" accept="application/zip">
        </div>
        <h4 class="card-title" id="merge-files-list-header">Files uploaded:</h4>
        <p>
          <ul id="merge-files-list"></ul>
        </p>
        <div class="btn-group">
          <button type="reset" class="btn btn-info" id="merge-reset-button">
            <i class="fas fa-undo-alt"></i>
            Reset
          </button>
          <button type="submit" class="btn btn-primary">
            <i class="fas fa-paper-plane"></i>
            &nbsp;Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{%- endblock %}

{% block stylesheets -%}
<link rel="stylesheet" href="/assets/styles/forms.css">
<link rel="stylesheet" href="/assets/styles/forms/merge-edit.css">
{%- endblock %}

{% block scripts -%}
<script src="/assets/scripts/mergeEdit.bundle.js"></script>
{%- endblock %}
