{% extends "index.html" %}

{% block mainContent %}
<div class="poll-edit-container col-lg-10 mx-auto">
  <div class="poll-form-container card">
    <div class="card-header">
      <h3>Edit Poll</h3>
    </div>
    <div class="card-body">
      <form action="{{ election.formURL }}" id="poll-form" data-method="{{ method }}" enctype="multipart/form-data">
        <div class="form-group">
          <label for="poll-name-input">Enter the name</label>
          <input id="poll-name-input" class="form-control" name="name" type="text" value="{{ poll.name }}" required>
        </div>
        <div class="form-group">
          <label for="poll-caption-input">Enter the caption</label>
          <input id="poll-caption-input" class="form-control" name="caption" type="text" value="{{ poll.caption }}" required>
        </div>
        <div class="form-group">
          <label for="poll-group-input">Enter the type of poll</label>
          <select name="group" id="poll-group-input" class="form-control" required>
            <option value="house" {% if poll.group === "house" %}selected{% endif %}>House</option>
            <option value="prefect" {% if poll.group === "prefect" %}selected{% endif %}>Prefect</option>
          </select>
        </div>
        <div class="form-group">
          <label for="poll-color-input">Click to change the background color</label>
          <input id="poll-color-input" class="form-control" name="color" type="color" value="{{ poll.color }}">
        </div>
        <div class="form-group">
          <label for="poll-image-input">Upload the image for the poll</label>
          <input id="poll-image-input" class="form-control-file" name="image" type="file">
          <img src="{{ poll.image }}" alt="No image uploaded" id="poll-uploaded-image" class="uploaded-image">
        </div>
        <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane"></i>&nbsp;Submit</button>
      </form>
    </div>
  </div>
</div>
{%- endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/styles/forms.css">
{%- endblock %}

{% block scripts %}
<script src="/assets/scripts/pollEdit.bundle.js"></script>
{%- endblock %}
