{% import "../lists/candidate-list.html" as candidateList %}

{% extends "index.html" %}

{% block mainContent %}
<div class="poll-edit-container col-lg-10 mx-auto">
  <div class="poll-form-container card">
    <div class="card-header">
      <div class="clearfix">
        <h3 class="float-left">{{ pageTitle }}</h3>
        {% if method === "PUT" %}
          <button class="btn btn-danger btn-del-poll float-right" data-action="/polls/{{ poll.id }}" data-redirect="back" data-name="{{ poll.name }}">
              <i class="far fa-trash-alt"></i>
              Delete
          </button>
        {% endif %}
      </div>
    </div>
    <div class="card-body">
      <form action="{{ formURL }}" id="poll-form" data-method="{{ method }}" enctype="multipart/form-data">
        <div class="form-group">
          <label for="poll-name-input">Enter the name</label>
          <input id="poll-name-input" class="form-control" name="name" type="text" value="{{ poll.name }}" required>
        </div>
        <div class="form-group">
          <label for="poll-caption-input">Enter the caption</label>
          <input id="poll-caption-input" class="form-control" name="caption" type="text" value="{{ poll.caption }}" required>
        </div>
        <div class="form-group">
          <label for="poll-color-input">Click to change the background color</label>
          <input id="poll-color-input" class="form-control" name="color" type="color" value="{{ poll.color }}">
        </div>
        <!-- <div class="form-group">
          <label for="poll-image-input">Upload the image for the poll</label>
          <input id="poll-image-input" class="form-control-file" name="image" type="file" accept="image/*">
          <img src="{{ poll.image }}" alt="No image uploaded" id="poll-uploaded-image" class="uploaded-image">
        </div> -->
        <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane"></i>&nbsp;Submit</button>
      </form>
    </div>
  </div>
  {% if method === "PUT" %}
  <div class="card">
      <div class="card-body">
        {{ candidateList.list(poll.candidates, poll.id) }}
      </div>
  </div>
  {% endif %}
</div>
{%- endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/styles/forms.css">
{{ candidateList.styles() }}
{%- endblock %}

{% block scripts %}
<script src="/assets/scripts/pollEdit.bundle.js"></script>
{{ candidateList.scripts() }}
{%- endblock %}
